
/* --- FORM AREA --- */
.form-wrapper {
  margin: 1rem;
  background-color: $primary-color;
  border-radius: 1rem;
  width: 50%;
  padding: 0px 50px 50px 50px;
  box-shadow: 0 8px 16px rgba($third-color, 0.2);

  &:hover {
     box-shadow: 0 12px 24px rgba($third-color, 0.35);
     transform: translateX(1px);
  }

  li{
    font-size: 1.2rem;
  }
}



.header h2 { color: $primary-color; margin-bottom: 5px; }
.header p { color: black; font-size: 0.9rem; margin-bottom: 30px; }


.input-group { margin-bottom: 20px; position: relative; }
.input-group label {
  display: block;
  font-size: 0.8rem;
  color: #636e72;
  margin-bottom: 5px;
  font-weight: 600;
}
.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #dfe6e9;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  transition: 0.3s;
}
.input-group input:focus {
  border-color: $secondary-color;
  background: #f0f9ff;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: rgba($third-color, .7);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}
.btn-submit:hover {
 background: linear-gradient(-67deg, rgba($third-color, .7), $secondary-color);
  color: $primary-color;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(79, 172, 254, 0.4);
}

