 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
 
 $primary-color: #fff;
 $secondary-color: #f6f7f9;
 $third-color: #0723ce;
 $font-stack: 'Circular Std';
 $border-radius: 10px;
 $text-color: #2d2d2d;

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5;
}

#app {
  background-color: white;
  height: inherit;
  width: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-size: clamp(0.8rem, 3.0vw, 2rem);
  font-weight: 700;
  color: $text-color;
  line-height: 1;
  text-align: center;
  margin-bottom: 4rem;
}

p,
a,
td,
pre,
label,
li {
  font-size: clamp(0.8rem, 0.8vw, 1.8rem);
  font-weight: 400;
  font-family: $font-stack;
  color: $text-color;
  text-decoration: none;
 

}

pre {
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: center;
  margin: 0;
}

th,
td {
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: $font-stack;
}
