

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height:clamp(50px,100px,80px);
    background: linear-gradient(-67deg, rgba($third-color, .7), $secondary-color);

    .main{
        display: flex;
        flex: 1;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }

    .main-left {
        display: flex;
    }
}

.nav-img{
    background-image: url('https://www.monosolutions.com/uploads/qPdXJBxF/MonoLogo.svg');
    width: 90px;
  min-width: 80px;
  height: 60px;
  min-height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .8;
  margin: 10px 30px;
}

.right{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbarMenu {
    display: flex;
    justify-content: center;
    margin-right: 190px;
    gap: 1rem;
    width: 570px;
    align-items: center;
    background-color: rgba($primary-color, 0.65);
    height: 100%;


    button {
    width: 100%;
  padding: 12px;
  background-color: rgba($third-color, .4);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
             &.active {
                font-weight: bold;
                color: $primary-color;
                background-color: rgba($third-color, .9);
                    }
      
    }

}


.right-container{
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    align-items: center;
    height: 70%;
  padding: 16px 32px;
  border: none;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

}

#henrik {
  height: 90px;
  width: 90px;
  padding-bottom: 10px;
}