

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height:clamp(50px,15vh,80px);
    background: linear-gradient(-67deg, rgba($third-color, .7), $secondary-color);

    .main{
        display: flex;
        flex: 1;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }
}

.nav-img{
    background-image: url("https://www.monosolutions.com/uploads/qPdXJBxF/MonoLogo.svg");
    width: 90px;
  min-width: 80px;
  height: 60px;
  min-height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .8;
  margin: 10px 30px;
}

.right{
    display: flex;
    justify-content: end;
    align-items: center;
}

.right-container{
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    align-items: center;
    height: 70%;
 
  padding: 16px 32px;
  border: none;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

  p{
    color: white;
     text-shadow: 0 1px 3px rgba($third-color, 0.5);
  }

}